.backcolor
{
   background-image: url("../images/we.jpg");
   border: 1px solid black;
   margin-top: 100px;
   margin-bottom: 100px;
   margin-right: 150px;
   margin-left: 80px;
   
 
 }
}
.textstyle
{
    color: blue;
    font-size: 50px;
}
.textstyle:hover{
    color: brown;
    font-size: 100px;
}